@page "/settings"

<PageTitle>Settings</PageTitle>

@inject HttpClient _httpClient
@inject AppSettings _appSettings

<h1 class="title">Settings</h1>

@code {
    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response = await _httpClient.GetAsync($"{_appSettings.Host}/api/v1/auth/test");

        if (response.IsSuccessStatusCode)
        {
            string content = await response.Content.ReadAsStringAsync();
        }
    }
}
