@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using OTPWarden.Controllers.V1.Contract.Responses
@using OTPWarden.UIServices.Abstractions;

@inject AppSettings _appSettings
@inject IOAuthHttpService _oauthHttpService

@page "/vault"

<PageTitle>Vault</PageTitle>

<div class="field mb-0">
    <div class="field-body is-flex is-flex-direction-row">
        <div class="field is-narrow mr-0">
            <p class="control">
                <h1 class="title">Vault</h1>
            </p>
        </div>

        <div class="field is-narrow ml-0">
            <p class="control">
                <button class="button is-white is-rounded has-text-info is-small mt-1" @onclick=ShowVaultEntryCreationModal>
                    <span class="icon">
                        <i class="fa-solid fa-plus"></i>
                    </span>
                </button>
            </p>
        </div>
    </div>
</div>

<div class="field">
    <div class="field-body is-flex is-flex-direction-row">
        <div class="field has-addons">
            <p class="control is-expanded has-icons-left">
                <input class="input" type="text" placeholder="Search your vault...">
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
            </p>
            <p class="control">
                <a class="button is-info">
                    Search
                </a>
            </p>
        </div>

        <div class="field is-narrow">
            <p class="control">
                <button class="button is-white">
                    <span class="icon is-small has-text-grey">
                        <i class="fa-solid fa-filter"></i>
                    </span>
                </button>
            </p>
        </div>
    </div>
</div>

@if (_isLoading)
{
    <section class="hero is-medium">
        <div class="hero-body">
            <p class="has-text-centered">
                <span class="icon is-large">
                    <i class="fa-solid fa-spinner fa-2x fa-pulse"></i>
                </span>
            </p>
        </div>
    </section>
}
else if (_vaultEntryContent.Count() == 0)
{
    <p class="has-text-centered has-text-grey py-6">Empty Vault</p>
}
else
{
    <div class="mt-5">
        @foreach (VaultEntryContent vaultEntry in _vaultEntryContent)
        {
            <div class="box mt-0 mb-2">
                @vaultEntry.Name
            </div>
        }
    </div>
}

<VaultEntryCreation @bind-IsActive=@_addVaultActive VaultEntryCreated="e => _vaultEntryContent.Add(e)" />

@code {
    private bool _isLoading = false;
    private List<VaultEntryContent> _vaultEntryContent = new List<VaultEntryContent>();
    private bool _addVaultActive = false;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;

        GetUserVaultApiResponse getUserVaultResponse = await _oauthHttpService.GetAsync<GetUserVaultApiResponse>($"{_appSettings.Host}/api/v1/vault");

        if (getUserVaultResponse != null)
        {
            _vaultEntryContent = getUserVaultResponse.VaultEntries.ToList();
        }

        _isLoading = false;
    }

    private void ShowVaultEntryCreationModal()
    {
        _addVaultActive = true;
    }
}
